<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="device-config.xsd">
	<device>
		<ip>127.0.0.1</ip>
		<name>Test machine</name>
		<interval>355</interval>
		<limit>37</limit>
		<maxgraph>500</maxgraph>
		<email>test@test.com</email>
	</device>
	<device>
		<ip>127.0.0.1</ip>
		<name>Test machine 2</name>
		<interval>355</interval>
		<limit>37</limit>
		<maxgraph>500</maxgraph>
		<email>test@test.com</email>
	</device>
	<device>
		<ip>127.0.0.1</ip>
		<name>Test machine 3</name>
		<interval>355</interval>
		<limit>37</limit>
		<maxgraph>500</maxgraph>
		<email>test@test.com</email>
	</device>
</config>
